/*  Work Sans Font size From Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&family=Lato:wght@700;900&family=Merriweather:wght@400;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*  Sheard Style Start here*/
* {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    padding: 21px 24px 20px 25px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

.text-description {
    color: var(--Dark-03, #727272);
    font-weight: 400;
}

.title-section {
    color: var(--Dark-01, #131313);
    font-size: 64px;
    margin: 0;
    font-weight: 700;
}


/* Header section style start */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 0 240px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-taitle {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    padding: 20px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    color: var(--Dark-02, #424242);
    font-family: Work Sans;
    text-decoration: none;
}

/* header seation Style End Here */

/* bannar section Style Start here */

.banner-conatent {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}



.banner img {
    margin-top: 50px;
    width: 100%;
}

/* bannar section Style Start here */



/* main style start here */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Teams Section */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-content-title .quick-list {
    color: #727272;
    font-size: 2.813rem;
    font-weight: 500;
}

.teams-content-title .text-features {
    color: #FF900E;
    font-size: 2.813rem;
    font-weight: 700;
}

.teams-content-title .of-our {
    color: var(--Dark-01, #131313);
    font-size: 2.813rem;
    font-weight: 700;
}


/* features section style Start here */
.features {
    display: flex;
}

.features-years-btn {
    background: #FF900E;
    padding: 1px;
}

.features-years-btn h3 {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
    /* 107.692% */
}

.features-years-btn p {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}

.features-content {
    margin-top: 170px;
}

.features-title-section {
    border-left: 5px solid #FF900E;
    padding: 0 21px;
    color: var(--Dark-01, #131313);
    font-size: 45px;
    margin: 0;
    font-weight: 700;
}

.features-text-description {
    color: var(--Dark-03, #727272);
    font-weight: 400;
    margin: 0;
    margin-top: 24px;
    width: 80%;
}

.features-card {
    width: 76%;
    margin: 30px 300px 10px 33px;

}

.features-card h4 {
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin: 0;
}

.features-card p {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    /* margin: 0; */
    padding-top: 10px;
    font-weight: 400;
    line-height: 26px;
}

.features-img {
    border: 3px solid blueviolet;
    margin-top: 130px;
    border-radius: 8px;
}

/* features section style End here */


/* Facts Section Style Start Here */
.facts {
    margin-top: 130px;
}

.facts-card-content {
    display: flex;
    justify-content: space-around;
    /* margin-top: 100px; */
}

.facts-card-content .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    /* width: 241.831px; */
    padding: 70px;
    /* height: 241.831px; */
    text-align: center;

}

.card-stats {
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    line-height: normal;
}

.card p {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    line-height: normal;
}

/* sponspors section style start here */
.sponspors-container {
    height: 300px;
    margin-top: 130px;
}

.sponspors-content {
    /* border: 1px solid blueviolet; */
    text-align: center;
}

.sponspors-img {
    display: flex;
    justify-content: space-between;
}

/* sponspors section style end here */

/* Footer section style Start here */
.footer-content {
    text-align: center;
}

.footer-content {
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Footer section style End here */

/* Facts Section Style Start Here */
/* Responsive style */

/* Mobile Devices */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .features,
    .facts-card-content {
        flex-direction: column;
    }

    .sponspors-img {
        flex-direction: column;
        padding: 20px;
    }
}

/* tablet Devices */

@media screen and (min-width: 577px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

}